# The genet driver is a lightly patched copy of the in-kernel bcmgenet
# driver (see update.sh), kept close to upstream formatting so future
# updates can be diffed/merged against new kernel sources with minimal
# noise. The checks below mostly fire on plain kernel coding-style
# idioms (long lines, blank lines at block boundaries, trailing
# whitespace) or on the fact that the copied upstream header unimac.h
# carries no copyright notice of its own; none of this has anything to
# do with the EtherCAT integration bits, and reformatting the copied
# parts to satisfy them would defeat the purpose of keeping the diff
# small. This filter is added on top of (not instead of) devices/
# CPPLINT.cfg and the top-level CPPLINT.cfg.
filter=-build/include
filter=-legal/copyright
filter=-whitespace/blank_line
filter=-whitespace/end_of_line
filter=-whitespace/line_length
